In [15]:
# Visual Python: Data Analysis > Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [20]:
# Visual Python: Data Analysis > File
vp_df = pd.read_csv('https://raw.githubusercontent.com/visualpython/visualpython/main/visualpython/data/sample_csv/iris.csv')
vp_df

     sepal_length  sepal_width  petal_length  petal_width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [51]:
# Visual Python: Data Analysis > Frame
vp_df = vp_df.copy()
vp_df['variety'] = vp_df['variety'].shift(1)
vp_df.set_index(['variety'], inplace=True)
vp_df.reset_index(inplace=True)
vp_df['variety'] = vp_df['variety'].shift(2)
vp_df['variety'] = vp_df['variety'].fillna(vp_df['variety'].mode()[0])
vp_df

       variety  sepal_length  sepal_width  petal_length  petal_width
0       Setosa           5.1          3.5           1.4          0.2
1       Setosa           4.9          3.0           1.4          0.2
2       Setosa           4.7          3.2           1.3          0.2
3       Setosa           4.6          3.1           1.5          0.2
4       Setosa           5.0          3.6           1.4          0.2
..         ...           ...          ...           ...          ...
145  Virginica           6.7          3.0           5.2          2.3
146  Virginica           6.3          2.5           5.0          1.9
147  Virginica           6.5          3.0           5.2          2.0
148  Virginica           6.2          3.4           5.4          2.3
149  Virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]